.grid-container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  display: block;
  float: left;
  min-height: 1px;
  width: 16.66%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*
.outline, .outline *{
    outline: 1px solid #F6A1A1; 
}
*/
body {
  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}
body a {
  text-decoration: none;
}

.caret {
  position: relative;
  cursor: pointer;
}

.caret:before {
  content: '';
  position: absolute;
  top: 25%;
  left: 5px;
  border-top: 5px solid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.btn-primary, .banner button, .promotion .left-side-block .text-wrapper .ex-left-text button, .promotion .right-side-block .text-wrapper .ex-left-text button {
  background-color: #f4f4f4;
  border: 2px solid #ff6766;
  color: #232323;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 23px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  outline: none;
}

.header-top {
  background-color: #212121;
  padding: 3px 0;
  color: #e8e8e8;
  font-size: 12px;
  font-weight: normal;
}
.header-top .free-shipping {
  float: left;
}
.header-top .free-shipping img {
  float: left;
  margin-right: 10px;
}
.header-top .free-shipping p span {
  color: #ff6766;
  margin-left: 4px;
  font-weight: 600;
}
.header-top .login-info {
  float: right;
}
.header-top .login-info .login-info-float-right {
  float: right;
}
.header-top .login-info .login-info-float-right a {
  color: #e8e8e8;
}
.header-top .login-info .login-info-float-right p {
  float: left;
  margin-right: 15px;
}
.header-top .login-info .login-info-float-right .currency {
  float: left;
  margin-right: 15px;
}
.header-top .login-info .login-info-float-right .top-flag {
  float: left;
}

.header-left-wrapper .search {
  margin-top: 43px;
  margin-bottom: 43px;
  position: relative;
}
.header-left-wrapper .search i {
  color: #333333;
  font-size: 17px;
  left: 0px;
  position: absolute;
  top: 4px;
}
.header-left-wrapper .search input {
  border: none;
  color: #000;
  font-weight: 500;
  margin-left: 13px;
  padding-left: 10px;
  padding-top: 3px;
  text-transform: uppercase;
}

.header-center-wrapper .logo {
  margin-top: 43px;
  text-align: center;
}

.header-right-wrapper .wish-check {
  float: right;
  margin-top: 43px;
  margin-bottom: 43px;
  position: relative;
}
.header-right-wrapper .wish-check .wish-check-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-right-wrapper .wish-check .wish-check-list li {
  float: left;
}
.header-right-wrapper .wish-check .wish-check-list li a {
  color: #212121;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}
.header-right-wrapper .wish-check .wish-check-list li a i {
  font-size: 17px;
  margin-right: 7px;
}
.header-right-wrapper .wish-check .count-wishes {
  background-image: url("img/wishlist_bg.png");
  height: 22px;
  left: 65px;
  position: absolute;
  top: -23px;
  width: 26px;
}
.header-right-wrapper .wish-check .count-wishes span {
  color: #fff;
  font-size: 12px;
  padding-left: 9px;
}

.nav-area {
  background-color: #ff6766;
}
.nav-area .nav-left {
  background-color: #f06160;
  padding: 22px 0;
  position: relative;
  width: 17%;
  float: left;
}
.nav-area .nav-left:hover ul {
  display: block;
  box-shadow: 0 10px 12px #666;
}
.nav-area .nav-left a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-left: 18px;
}
.nav-area .nav-left a i {
  margin-left: 57px;
}
.nav-area .nav-left ul {
  background-color: #f7f8f9;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 64px;
  width: 285px;
  font-size: 14px;
  color: #333;
  display: none;
  z-index: 10;
}
.nav-area .nav-left ul li {
  display: inline-block;
  padding: 0 32px;
}
.nav-area .nav-left ul li:hover {
  background-color: #dcdcdc;
}
.nav-area .nav-left ul li a {
  border-bottom: 1px solid #f1f1f1;
  border-top: 0 solid;
  color: #212121;
  display: block;
  font-size: 12px;
  width: 220px;
  font-weight: 700;
  padding: 20px 0;
}
.nav-area .nav-left ul li a span {
  color: #ff6766;
  padding-right: 10px;
  font-size: 16px;
  vertical-align: middle;
}
.nav-area .nav-center {
  width: 66%;
  float: left;
}
.nav-area .nav-center .main-menu {
  position: relative;
}
.nav-area .nav-center .main-menu:after {
  border-top: 4px solid #fff;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.nav-area .nav-center .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-area .nav-center .main-menu ul li {
  display: inline-block;
  padding: 0 32px;
  position: relative;
}
.nav-area .nav-center .main-menu ul li a {
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 14px;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}
.nav-area .nav-center .main-menu ul li a:after {
  border-top: 4px solid #fff;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.nav-area .nav-center .main-menu ul li a:hover:after {
  border-top: 4px solid #212121;
}
.nav-area .nav-center .main-menu ul li.active a:after {
  border-top: 4px solid #212121;
}
.nav-area .nav-right {
  background: #f06160;
  padding: 22px 0;
  position: relative;
  width: 17%;
  float: right;
}
.nav-area .nav-right:hover .cart-menu {
  display: block;
  box-shadow: 0 10px 12px #666;
}
.nav-area .nav-right a.cart-link {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-left: 30px;
}
.nav-area .nav-right a.cart-link img {
  cursor: pointer;
  margin-right: 10px;
  margin-top: -7px;
  vertical-align: middle;
}
.nav-area .nav-right .cart-menu {
  background-color: #fff;
  padding-top: 5px;
  position: absolute;
  right: 0;
  top: 64px;
  width: 330px;
  display: none;
  z-index: 10;
}
.nav-area .nav-right .cart-menu .cart-item {
  border-bottom: 1px solid #ddd;
  padding: 14px;
  overflow: hidden;
}
.nav-area .nav-right .cart-menu .cart-item .item-img {
  width: 37%;
  float: left;
}
.nav-area .nav-right .cart-menu .cart-item .item-img a {
  display: block;
  background-color: #dcdcdc;
  padding-left: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 80px;
  width: 90px;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals {
  width: 63%;
  float: left;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals .c-item-totals-detail {
  width: 66%;
  float: left;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals .c-item-totals-detail a {
  padding-left: 0;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals .c-item-totals-detail a h5 {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 15px;
  font-weight: 700;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals .c-item-totals-detail span {
  color: #ff6766;
  font-size: 12px;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals .close-icon-cart {
  float: right;
  font-size: 14px;
}
.nav-area .nav-right .cart-menu .cart-item .c-item-totals .close-icon-cart img {
  cursor: pointer;
  margin-right: 10px;
  margin-top: -7px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.nav-area .nav-right .cart-menu .cart-totals {
  overflow: hidden;
  padding: 20px 22px;
  font-size: 14px;
}
.nav-area .nav-right .cart-menu .cart-totals .c-totals-left {
  width: 50%;
  float: left;
}
.nav-area .nav-right .cart-menu .cart-totals .c-totals-left p {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
.nav-area .nav-right .cart-menu .cart-totals .c-totals-right {
  float: right;
}
.nav-area .nav-right .cart-menu .cart-totals .c-totals-right p {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
.nav-area .nav-right .cart-menu .cart-view-bottom {
  overflow: hidden;
}
.nav-area .nav-right .cart-menu .cart-view-bottom .c-totals-left {
  background-color: #eb5e5d;
  padding: 15px 0px;
  text-align: center;
  width: 50%;
  float: left;
}
.nav-area .nav-right .cart-menu .cart-view-bottom .c-totals-left a {
  padding-left: 19px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-left: 35px;
}
.nav-area .nav-right .cart-menu .cart-view-bottom .c-totals-right {
  background-color: #FF6766;
  padding: 15px 0px;
  text-align: center;
  width: 50%;
  float: right;
}
.nav-area .nav-right .cart-menu .cart-view-bottom .c-totals-right a {
  padding-left: 19px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.banner {
  background-image: url("img/banner-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  position: relative;
}
.banner span {
  color: #ff6766;
}
.banner .banner-title {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 73px;
  top: 209px;
  left: 109px;
  position: absolute;
}
.banner .sub-title {
  font-size: 14px;
  font-weight: bold;
  top: 281px;
  left: 109px;
  position: absolute;
}
.banner .divider {
  position: absolute;
  background-color: #dcdcdc;
  top: 260px;
  left: 109px;
  width: 100px;
  height: 4.5px;
}
.banner button {
  position: absolute;
  top: 336px;
  left: 109px;
}
.banner .offer-tag {
  top: 0px;
  left: 654px;
  position: absolute;
}
.banner .offer-tag img {
  width: 95px;
  height: 242px;
}

.features {
  padding-top: 36px;
  background-color: #F4F5F6;
}
.features .features-wrapper {
  border-bottom: 2px dotted #a4a4a4;
  padding-bottom: 25px;
  position: relative;
}
.features .features-wrapper:after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 0;
  border-bottom: 2px dotted #999;
  width: 100%;
}
.features img {
  background-color: #FFF;
  border: 1px solid #c6c7c7;
  border-radius: 50%;
  float: left;
  height: 25px;
  margin-right: 15px;
  padding: 8px;
  width: 25px;
  vertical-align: middle;
  max-width: 100%;
}
.features p {
  color: #000;
  font-size: 11px;
  font-weight: 500;
  margin: 0 0 10px;
  padding-top: 4px;
}

.trending-closing {
  background-color: #F4F5F6;
  padding: 95px 0;
}
.trending-closing h1 {
  color: #000;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: center;
}
.trending-closing .multi-line {
  border-bottom: 2px solid #ff6766;
  border-top: 1px solid #ff6766;
  height: 5px;
  margin: 0 auto 20px;
  width: 40px;
}
.trending-closing ul {
  margin: 0 auto 42px;
  padding-left: 0;
  list-style: none;
  clear: both;
  display: table;
}
.trending-closing ul li {
  float: left;
  display: block;
}
.trending-closing ul li a {
  background-color: #f4f5f6;
  border-style: solid;
  border-width: 0px;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 12px;
  padding: 10px 4px;
  margin-right: 2px;
}
.trending-closing ul li a span {
  color: #ff6766;
  padding-left: 18px;
}
.trending-closing .card {
  background-color: #ffffff;
  height: 440px;
  width: 270px;
  display: block;
  margin: 0 30px 0 auto;
  text-align: center;
  float: left;
}
.trending-closing .card:last-of-type {
  margin-right: 0;
}
.trending-closing .card .card-header {
  position: relative;
  display: block;
  height: 350px;
  width: 100%;
  background-color: #dcdcdc;
}
.trending-closing .card .card-header:hover .tr-add-cart {
  text-align: center;
  display: block;
}
.trending-closing .card .card-header .tr-add-cart {
  background-color: #FFF;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
.trending-closing .card .card-header .tr-add-cart ul {
  list-style: none;
  margin: 158px 0 0 35px;
  padding: 0;
}
.trending-closing .card .card-header .tr-add-cart ul li {
  display: inline-block;
}
.trending-closing .card .card-header .tr-add-cart ul li a {
  display: block;
  font-size: 15px;
  height: 20px;
  padding: 12px 6px;
}
.trending-closing .card .card-header .item-new {
  border: 1px solid #ff6766;
  left: 15px;
  position: absolute;
  top: 15px;
}
.trending-closing .card .card-header .item-new p {
  background-color: #ff6766;
  color: #fff;
  font-size: 12px;
  padding: 1px 8px;
  margin: 0px;
}
.trending-closing .card .card-header .item-new span {
  font-size: 11px;
  padding: 1px 8px;
}
.trending-closing .card .card-block {
  background-color: #FFF;
  padding: 25px 0;
  text-align: center;
}
.trending-closing .card .card-block h4 {
  color: #000;
  font-size: 12px;
  margin-bottom: 0;
  margin: 0 0 15px;
  font-weight: 700;
}
.trending-closing .card .card-block p {
  color: #ff6766;
  margin: 4px 0px 0px;
  font-size: 14px;
}
.trending-closing .card .card-block p span {
  color: #999999;
  margin-left: 8px;
}

.promotion .left-side-block {
  height: 550px;
  width: 50%;
  float: left;
  background-color: #f7f8f9;
}
.promotion .left-side-block .text-wrapper {
  float: left;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promotion .left-side-block .text-wrapper .ex-left-text {
  text-align: center;
}
.promotion .left-side-block .text-wrapper .ex-left-text h2 {
  font-size: 27px;
  color: #ff6766;
  font-weight: 700;
  margin: 0 0 15px;
}
.promotion .left-side-block .text-wrapper .ex-left-text h5 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #000;
  margin: 0 0 15px;
}
.promotion .left-side-block .text-wrapper .ex-left-text p {
  font-size: 12px;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  color: #212121;
  font-weight: 700;
  margin-bottom: 35px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.promotion .right-side-block {
  height: 550px;
  width: 50%;
  float: right;
  background-color: #eef1f2;
}
.promotion .right-side-block .text-wrapper {
  float: right;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promotion .right-side-block .text-wrapper .ex-left-text {
  text-align: center;
}
.promotion .right-side-block .text-wrapper .ex-left-text h2 {
  font-size: 27px;
  color: #ff6766;
  font-weight: 700;
  margin: 0 0 15px;
}
.promotion .right-side-block .text-wrapper .ex-left-text h5 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
  margin: 0 0 15px;
}
.promotion .right-side-block .text-wrapper .ex-left-text p {
  font-size: 12px;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  color: #212121;
  font-weight: 700;
  margin-bottom: 35px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.promotion .right-side-block .text-wrapper .ex-left-text p span {
  color: #ff6766;
}

/*# sourceMappingURL=style.css.map */
