@import 'grid';

body {
	font-family: 'Cabin', sans-serif;
	font-size: 10px;
	text-transform:uppercase;

	a{
		text-decoration: none;
	}
}

.caret {
	position: relative;
	cursor: pointer;
}

.caret:before {
	content: '';
	position: absolute;
	top: 25%;
	left: 5px;
	border-top: 5px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.btn-primary{
	background-color: #f4f4f4;
	border: 2px solid #ff6766;
	color: #232323;
	font-size: 13px;
	font-weight: 600;
	padding: 12px 23px;
	text-align: center;		
	cursor: pointer;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
	outline:none;
}


//===================HEADER TOP===================
.header-top{
	$font-color: #e8e8e8;

	background-color:#212121;
	padding:3px 0;
	color: $font-color;
	font-size: 12px;
	font-weight: normal;

	.free-shipping{
		float:left;

		img{
			float:left;
			margin-right: 10px
		}

		p span{
			color: #ff6766;
			margin-left: 4px;
			font-weight: 600;
		}
	}

	.login-info{
		float:right;

		.login-info-float-right{
			float: right;
			a{
				color:$font-color;				
			}

			p{
				float: left;
				margin-right: 15px;
			}

			.currency{
				float: left;
				margin-right: 15px;
			}

			.top-flag{
				float: left;
			}
		}

	}
}

//====================HEADER=======================
.header-left-wrapper{

	.search{
		margin-top: 43px;
		margin-bottom: 43px;
		position:relative;
		i{
			color: #333333;
			font-size: 17px;
			left: 0px;
			position: absolute;
			top: 4px;
		}

		input{
			border: none;
			color: #000;
			font-weight: 500;
			margin-left: 13px;
			padding-left: 10px;
			padding-top: 3px;
			text-transform:uppercase;
		}
	}
}

.header-center-wrapper{
	.logo{
		margin-top: 43px;
		text-align:center;
	}
}

.header-right-wrapper{
	.wish-check{
		float: right;
		margin-top: 43px;
		margin-bottom: 43px;
		position:relative;

		.wish-check-list{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				float:left;

				a{
					color: #212121;
					display: block;
					font-size: 12px;
					font-weight: 500;
					padding: 0 10px;

					i{
						font-size: 17px;
						margin-right: 7px;
					}
				}
			}
		}

		.count-wishes{
			background-image: url("img/wishlist_bg.png");
			height: 22px;
			left: 65px;
			position: absolute;
			top: -23px;
			width: 26px;
			span{
				color: #fff;
				font-size: 12px;
				padding-left: 9px;
			}
		}
	}
}
//====================NAV-AREA==================
.nav-area{
	background-color:#ff6766;
	.nav-left{
		&:hover ul{
			display:block;
			box-shadow: 0 10px 12px #666;
		}
		background-color:#f06160;
		padding: 22px 0;
		position: relative;
		width: 17%;
		float:left;		

		a{
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			padding-left: 18px;

			i{
				margin-left:57px;
			}
		}

		ul{
			background-color: #f7f8f9;
			left: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			text-align: left;
			top: 64px;
			width: 285px;
			font-size: 14px;
			color: #333;
			display:none;
			z-index:10;

			li{
				&:hover{
					background-color: #dcdcdc
				}
				display: inline-block;
				padding: 0 32px;

				a{
					border-bottom: 1px solid #f1f1f1;
					border-top: 0 solid;
					color: #212121;
					display: block;
					font-size: 12px;
					width: 220px;
					font-weight: 700;
					padding: 20px 0;
					span{
						color: #ff6766;
						padding-right: 10px;
						font-size: 16px;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.nav-center{
		width:66%;
		float:left;

		.main-menu{
			position: relative;
			&:after {
				border-top: 4px solid #fff;
				content: "";
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;			
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: center;

				li{
					display: inline-block;
					padding: 0 32px;
					position: relative;

					a{
						&:after {
							border-top: 4px solid #fff;
							content: "";
							left: 0;
							position: absolute;
							top: 0;
							width: 100%;			
						}

						&:hover{
							&:after {
								border-top: 4px solid #212121;
							}
						}

						color: #fff;
						display: block;
						font-weight: 700;
						font-size: 14px;
						padding: 20px 0;
						position: relative;
						z-index: 1;
					}
				}
				li.active{
					a{
						&:after {
							border-top: 4px solid #212121;
						}
					}
				}
			}
		}

	}

	.nav-right{
		&:hover .cart-menu {
			display:block;
			box-shadow: 0 10px 12px #666;
		}

		background:#f06160;
		padding: 22px 0;
		position: relative;
		width: 17%;
		float: right;

		a.cart-link{
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			padding-left: 30px;

			img{
				cursor: pointer;
				margin-right: 10px;
				margin-top: -7px;
				vertical-align: middle;
			}
		}

		.cart-menu{
			background-color: #fff;
			padding-top: 5px;
			position: absolute;
			right: 0;
			top: 64px;
			width: 330px;
			display:none;
			z-index:10;

			.cart-item{
				border-bottom: 1px solid #ddd;
				padding: 14px;
				overflow: hidden;

				.item-img {
					width: 37%;
					float:left;
					a{
						display:block;
						background-color: #dcdcdc;
						padding-left: 0;
						color: #fff;
						font-size: 14px;
						font-weight: 700;
						height:80px;
						width:90px;
					}
				}
				.c-item-totals {
					width: 63%;
					float:left;
					.c-item-totals-detail {
						width: 66%;
						float:left;
						a {
							padding-left: 0;
							h5{
								color: #000;
								font-size: 12px;
								line-height: 18px;								
								margin: 0 0 15px;
								font-weight: 700;
							}
						}

						span{
							color: #ff6766;
							font-size: 12px;
						}
					}
					.close-icon-cart {
						float: right;
						font-size: 14px;
						img{
							cursor: pointer;
							margin-right: 10px;
							margin-top: -7px;
							max-width: 100%;
							height: auto;
							vertical-align: middle;
						}
					}
				}
			}
			.cart-totals {
				overflow: hidden;
				padding: 20px 22px;
				font-size: 14px;
				.c-totals-left {
					width: 50%;
					float: left;
					p {
						color: #000;
						font-size: 12px;
						font-weight: 500;
						margin: 0px;
					}
				}
				.c-totals-right {
					float: right;
					p{
						color: #000;
						font-size: 12px;
						font-weight: 500;
						margin: 0px;
					}
				}
			}

			.cart-view-bottom {
				overflow: hidden;

				.c-totals-left {
					background-color: #eb5e5d;
					padding: 15px 0px;
					text-align: center;
					width: 50%;
					float: left;
					a{
						padding-left: 19px;
						color: #fff;
						font-size: 14px;
						font-weight: 700;
						padding-left: 35px;
						
					}
				}

				.c-totals-right {
					background-color: #FF6766;
					padding: 15px 0px;
					text-align: center;
					width: 50%;
					float: right;
					a {
						padding-left: 19px;
						color: #fff;
						font-size: 14px;
						font-weight: 700;						
					}
				}
			}
		}
	}
}

//====================BANNER=============================

.banner{
	background-image: url("img/banner-background.jpg");
	background-repeat: no-repeat;
	width:100%;
	height:650px;
	position:relative;
	span{
		color: #ff6766;
	}
	.banner-title{
		font-family: Montserrat, sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 73px;
		top: 209px;
		left: 109px;
		position: absolute;
	}

	.sub-title{
		font-size: 14px;
		font-weight: bold;
		top: 281px;
		left: 109px;
		position:absolute;
	}

	.divider{
		position: absolute;
		background-color: #dcdcdc;
		top: 260px;
		left: 109px;
		width: 100px;
		height: 4.5px;
	}

	button{
		@extend .btn-primary;
		position:absolute;
		top:336px;
		left:109px;
	}

	.offer-tag{
		top: 0px;
		left: 654px;
		position:absolute;
		img{
			width: 95px;
			height: 242px;
		}
	}
}
//=====================FEATURES=========================
.features{
	padding-top: 36px;
	background-color: #F4F5F6;

	.features-wrapper{
		border-bottom: 2px dotted #a4a4a4;
		padding-bottom: 25px;
		position: relative;
		&:after{
			position: absolute;
			content: "";
			bottom: 1px;
			left: 0;
			border-bottom: 2px dotted #999;
			width: 100%;
		}
	}

	img{
		background-color: #FFF;
		border: 1px solid #c6c7c7;
		border-radius: 50%;
		float: left;
		height: 25px;
		margin-right: 15px;
		padding: 8px;
		width: 25px;
		vertical-align: middle;
		max-width: 100%;
	}

	p{
		color: #000;
		font-size: 11px;
		font-weight: 500;
		margin: 0 0 10px;
		padding-top: 4px;
		
	}
}

//=====================T-CLOSING===================
.trending-closing{
	background-color: #F4F5F6;
	padding: 95px 0;
	h1{
		color: #000;
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 8px;
		margin-top:0px;
		text-align: center;
		
	}

	.multi-line{
		border-bottom: 2px solid #ff6766;
		border-top: 1px solid #ff6766;
		height: 5px;
		margin: 0 auto 20px;
		width: 40px;
	}

	ul{
		margin: 0 auto 42px;
		padding-left: 0;
		list-style: none;
		clear:both;
		display:table;

		li{
			float: left;
			display: block;

			a{
				background-color: #f4f5f6;
				border-style: solid;
				border-width: 0px;
				color: #000;
				cursor: pointer;
				display: block;
				font-size: 12px;
				padding: 10px 4px;				
				margin-right: 2px;

				span{
					color: #ff6766;
					padding-left: 18px;
				}
			}
		}
	}

	.card{
		&:last-of-type{
			margin-right:0;
		}
		background-color: #ffffff;
		height:440px;
		width:270px;
		display: block;
		margin: 0 30px 0 auto;
		text-align: center;
		float:left;

		.card-header{
			&:hover .tr-add-cart {
				text-align: center;
				display:block;
			}
			position:relative;
			display:block;
			height:350px;
			width:100%;
			background-color: #dcdcdc;

			.tr-add-cart {
				background-color: #FFF;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				display:none;
				ul {
					list-style: none;
					margin: 158px 0 0 35px;
					padding: 0;
					li {
						display: inline-block;
						a{
							display: block;
							font-size: 15px;
							height:20px;
							padding: 12px 6px;
						}
					}
				}
			}

			.item-new{
				border: 1px solid #ff6766;
				left: 15px;
				position: absolute;
				top: 15px;

				p{
					background-color: #ff6766;
					color: #fff;
					font-size: 12px;
					padding: 1px 8px;
					margin: 0px;
				}

				span{
					font-size: 11px;
					padding: 1px 8px;
				}
			}
		}

		.card-block{
			background-color: #FFF;
			padding: 25px 0;
			text-align: center;

			h4{
				color: #000;
				font-size: 12px;
				margin-bottom: 0;
				
				margin: 0 0 15px;
				font-weight: 700;
			}

			p{
				color: #ff6766;
				margin: 4px 0px 0px;
				font-size: 14px;

				span{
					color: #999999;
					margin-left: 8px;
				}
			}
		}

	}
}
//======================PROMOTION=================
.promotion{
	.left-side-block{
		height:550px;
		width:50%;
		float:left;
		background-color: #f7f8f9;

		.text-wrapper{
			float:left;
			width:80%;
			height:100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.ex-left-text{
				text-align: center;					
				h2{
					font-size: 27px;
					color: #ff6766;
					font-weight: 700;
					margin: 0 0 15px;
				}

				h5{
					font-size: 15px;
					font-weight: 700;
					margin-bottom: 14px;
					color: #000;					
					margin: 0 0 15px;
				}

				p{
					font-size: 12px;
					border-bottom: 2px solid #ddd;
					border-top: 2px solid #ddd;
					color: #212121;
					font-weight: 700;					
					margin-bottom: 35px;
					width: 45%;
					margin-left:auto;
					margin-right:auto;
				}

				button{
					@extend .btn-primary;
				}
			}	
		}
	}	

	.right-side-block{
		height:550px;
		width:50%;
		float:right;
		background-color: #eef1f2;
		.text-wrapper{
			float:right;
			width:80%;
			height:100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.ex-left-text{
				text-align: center;					
				h2{
					font-size: 27px;
					color: #ff6766;					
					font-weight: 700;
					margin: 0 0 15px;
				}

				h5{
					font-size: 13px;
					font-weight: 700;
					margin-bottom: 10px;
					color: #000;					
					margin: 0 0 15px;
				}

				p{
					font-size: 12px;
					border-bottom: 2px solid #ddd;
					border-top: 2px solid #ddd;
					color: #212121;
					font-weight: 700;	
									
					margin-bottom: 35px;
					width: 55%;
					margin-left:auto;
					margin-right:auto;

					span{
						color: #ff6766;
					}
				}

				button{
					@extend .btn-primary;
				}
			}
		}
	}
}